*{
    box-sizing: border-box;
    margin: 0%;
    text-align: center;
    overflow-x: hidden;
}

body{
    background-color: rgb(245,245,245);
}

nav{
    position: fixed;
    top: 0%;
    font-size: larger;
    background-color: rgb(18,65,67);
    width: 100%;
    padding: 0.5%;
    border-radius: 0% 0% 10% 10%; 
}

#logo{
    float: left;
}

#navbar-list{
    width: 100%;
}

#navbar-list li{
    display: inline;
    margin: 0px 10px;
}

#navbar-list{
    float: right;
    color: white;
}

footer{
    border-radius: 10% 10% 0% 0%;
    background-color: rgb(18,65,67);
    font: large;
    color: white;
}

.footer-list{
    width: 20%;
    margin: auto;
    align-items: center;
    padding: 2%;
    display: inline-block;
}

.ul-heading{
    padding: 5%;
    font-size: 1.5em;
}

.how-it-works-block{
    float: left;
    width: 50%;
}

a{
    text-decoration: none;
    color: white;
}

hr{
    background-color: rgb(240,84,84);
    width: 15%;
    height: 5px;
    margin: auto;
}

.review{
    width: 25%;
    margin: 2%;
    background-color: rgb(231,231,231);
    padding: 1% 1%;
    box-shadow: 2px 2px 2px #888888;
    border: rgb(240,84,84) 2px solid;
    display: inline-block;
    border-radius: 10%;
}

h3{
    color: rgb(240,84,84);
}

.choose-block{
    background-color: rgb(245,245,245);
    width: 30%;
    box-shadow: 2px 2px 2px 2px #888888;
    text-align: center;
    padding: 1% 1%;
    display: inline-block;
    margin: 0.5%;
    padding: 2%;
}

.block{
    margin-top: 5%;
    margin-bottom: 5%;
}

.employee-reg{
    background-color: rgb(240,84,84);
    color: white;
    border-radius: 10%;
    display: inline-block;
    padding: 1%;
    /* width: 20%; */
}

.job-seeker-reg{
    background-color: white;
    color: rgb(240,84,84);
    border-radius: 10%;
    display: inline-block;
    padding: 1%;
}

#main{
    width: 50%;
    padding: 1%;
    padding-top: 20%;
    margin: auto;
    color: white;
    margin-top: 7%;
    margin-bottom: 7%;
}

#main div{
    margin: 2%;
}

#background{
    background-color: rgb(18,65,67);
    width: 120%;
    display: inline-block;
    height: 90%;
    position: absolute;
    transform: rotate(7deg);
    top: -25%;
    left: -5%;
    z-index: -1;
}

.choose-block img{
    height: 100px;
    margin-bottom: 1%;
}

.review img{
    border-radius: 50%;
    height: 100px;
}

#maid-image{
    position: absolute;
    top: 10%;
    right: 1%;
}

#main-h1{
    color: white;
    font-size: 4em;
    margin-bottom: 0.5%;
}

#account-icon{
    float: right;
}

.how-it-works-image{
    border-radius: 50%;
    border: black 1px solid;
    height: 100px;
    width: 100px;
    display: inline-block;
    overflow: hidden;
}

.how-it-works-image img{
    height: 80px;
    width: 80px;
}

.arrow{
    font-size: 100px;
    display: inline-block;
}

@media (max-width: 483px) {
    #maid-image{
        visibility: hidden;
    }

    div{
        font-size: 1em;
    }

    #main-h1{
        font-size: 2em;
    }

    nav{
        position: relative;
        border-radius: 0%;
        display: block;
    }

    #navbar-list span{
        width: 100%;
    }

    #navbar-list li{
        display: block;
        float: right;
        width: 100%;
        border: 2px white solid;
        margin: auto;
        align-items: center;
    }

    #main{
        width: 80%;
        padding: 1%;
        margin: auto;
        color: white;
        font-size: 1.2em;
    }

    #background{
        height: 100%;
    }
    
    div{
        display: block;
    }

    .how-it-works-block{
        display: block;
        float: none;
    }
    
    .choose-block{
        width: 90%;
        margin: auto;
    }

    .choose-block img{
        display: none;
    }

    .review{
        width: 90%;
    }

    .footer-list{
        width: 90%;
    }

    #navbar-list li{
        padding: 0.5% 0%;
    } 

    .how-it-works-block{
        width: 70%;
    }

    .how-it-works-image{
        height: 20px;
        width: 20px;
    }

    .how-it-works-image img{
        height: 20px;
        width: 20px;
    }
    
    .arrow{
        font-size: 20px;
        display: inline-block;
    }
}

@media only screen and (min-width: 484px) and (max-width: 767px){
    #maid-image{
        visibility: hidden;
    }

    #navbar-list li{
        margin: 0 5px;
    }

    #main-h1{
        font-size: 1.5em;
    }

    #main{
        padding-top: 15%;
        padding-bottom: 15%;
    }

    #background{
        height: 70%;
    }

    #main{
        margin: auto;
        padding: auto;
        width: 70%;
    }

    div{
        display: block;
    }

    .how-it-works-block{
        display: block;
        float: none;
        width: 60%;
    }

    .block-row{
        display: table-row;
        width: 90%;
        margin: auto;
    }

    .choose-block{
        width: 40%;
        margin: auto;
        display: table-cell;
    }

    .choose-block img{
        display: none;
    }

    .review{
        width: 90%;
    }

    .footer-list{
        width: 20%;
        margin: 0%;
    }

    .ul-heading{
        font-size: 1.2em;
    }

    .logo{
        float: right;
    }

    .how-it-works-image{
        height: 50px;
        width: 50px;
    }

    .how-it-works-image img{
        height: 40px;
        width: 40px;
    }
    
    .arrow{
        font-size: 50px;
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1101px){
    nav div{
        float: right;
    }

    #main-h1{
        font-size: 2em;
    }

    #main{
        padding-top: 3%;
        padding-bottom: 3%;
        width: 70%;
        position: relative;
        right: 10%;
    }

    #background{
        height: 70%;
    }

    div{
        display: block;
    }

    .how-it-works-block{
        display: block;
        float: none;
    }

    .block-row{
        display: flex;
        margin-left: 5%;
    }

    .choose-block{
        width: 45%;
    }

    .review-parent{
        padding: 1%;
        display: flex;
        width: 100%;
    }

    .review{
        width: 30%;
    }

    .how-it-works-image{
        height: 50px;
        width: 50px;
    }

    .how-it-works-image img{
        height: 40px;
        width: 40px;
    }
    
    .arrow{
        font-size: 50px;
        display: inline-block;
    }
}

@media only screen and (min-width: 1102px) and (max-width: 1336px){
    #main-h1{
        font-size: 3em;
    }

    #main{
        padding: 0% 4%;
        width: 65%;
    }

    .how-it-works-block{
        display: block;
        float: none;
    }

    .choose-block{
        width: 45%;
    }

    #background{
        height: 75%;
    }

    .review{
        width: 90%;
    }

    .review-parent{
        display: flex;
        margin: 5%;
    }
}

@media only screen and (min-width: 1337px){
    .how-it-works-block{
        display: block;
        float: none;
    }

    #main{
        padding-top: 1%;
        padding-bottom: 1%;
        width: 70%;
    }

    .choose-block{
        width: 45%;
    }

    .review{
        width: 90%;
    }

    .review-parent{
        display: flex;
        margin: 5%;
    }
}