*{
    box-sizing: border-box;
    margin: 0%;
    text-align: center;
    overflow-x: hidden;
}

body{
    background-color: rgb(245,245,245);
}

nav{
    position: fixed;
    top: 0%;
    font-size: larger;
    background-color: rgb(18,65,67);
    width: 100%;
    padding: 0.5%;
    border-radius: 0% 0% 10% 10%; 
}

#logo{
    float: left;
}

ul{
    width: 100%;
}
li{
    display: inline;
    margin: 0px 10px;
    float: right;
}

#navbar-list{
    float: right;
    color: white;
}

footer{
    border-radius: 10% 10% 0% 0%;
    background-color: rgb(18,65,67);
    /* position: relative; */
    /* top: 500px; */
    font: large;
    color: white;
}

table{
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 2%;
}

th, td{
    margin: 10px auto;
    width: 20%;
    padding: 0.5%;
    align-items: center;
}

th{
    padding-bottom: auto;
    border-bottom-style: solid;
    border-color: rgb(240,84,84);
    border-bottom-width: 2px;
}

.how-it-works-block{
    float: left;
    width: 50%;
}

a{
    text-decoration: none;
    color: white;
}

hr{
    background-color: rgb(240,84,84);
    width: 15%;
    height: 5px;
    margin: auto;
}

.review{
    width: 25%;
    margin: 2%;
    background-color: rgb(231,231,231);
    padding: 1% 1%;
    box-shadow: 2px 2px 2px #888888;
    border: rgb(240,84,84) 2px solid;
    display: inline-block;
    border-radius: 10%;
}

h3{
    color: rgb(240,84,84);
}

.choose-block{
    background-color: rgb(245,245,245);
    width: 30%;
    box-shadow: 2px 2px 2px 2px #888888;
    text-align: center;
    padding: 1% 1%;
    display: inline-block;
    margin: 0.5%;
    padding: 2%;
}

.block{
    margin-top: 5%;
    margin-bottom: 5%;
}

.employee-reg{
    background-color: rgb(240,84,84);
    color: white;
    border-radius: 10%;
    display: inline-block;
    padding: 1%;
    /* width: 20%; */
}

.job-seeker-reg{
    background-color: white;
    color: rgb(240,84,84);
    border-radius: 10%;
    display: inline-block;
    padding: 1%;
}

#main{
    width: 50%;
    padding: 1%;
    position: relative;
    top: 20%;
    margin: 2%;
    display: inline-block;
    color: white;
    margin-top: 7%;
    margin-bottom: 7%;
}

#main div{
    margin: 2%;
}

#background{
    background-color: rgb(18,65,67);
    width: 120%;
    display: inline-block;
    height: 90%;
    position: absolute;
    transform: rotate(7deg);
    top: -25%;
    left: -5%;
    z-index: -1;
    /* float:right; */
}

.choose-block img{
    height: 100px;
    margin-bottom: 1%;
}

.review img{
    border-radius: 50%;
    height: 100px;
}

#maid-image{
    position: absolute;
    top: 10%;
    right: 5%;
    display: inline-block;
}